// Screen sizes
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;

// Fonts
$font-sans-serif: 'Neue Haas Grotesk Display Pro', sans-serif;
$font-serif: 'Schnyder', serif;

//Layout
$grid-space: .5em;

// Colors
$main-color: #FFEBE6;
$accent-color: #3A2222;